body{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}
h1{
    padding-top: 100px;
    background-color: lightblue;
}
h2{
    text-align: right;
    padding: 20px;
    background-color: aqua;
}
img{
    display: 
    background-color: aliceblue;
    border: 5px solid blue;
}
h6{
    padding-top: 100px;
    background-color: rgb(0, 225, 255);
}